@model SampleWebApp.Models.SentimentData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SentimentData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>SentimentText</label>
                <input type="text" asp-for="SentimentText" />
            </div>
            <div class="form-group">
                <label>Sentiment</label>
                <input class="form-check-input" asp-for="Sentiment" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
