@model IEnumerable<SampleWebApp.Models.SentimentData>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>SentimentText</th>
            <th>Sentiment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SentimentText</td>
                <td>@item.Sentiment</td>
                <td>@Html.ActionLink("Check", "SentimentCheck", new { Text = item.SentimentText })</td>
            </tr>
        }
    </tbody>
</table>
